@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Oswald:wght@300;400;600;700&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .custom-btn {
    @apply relative rounded-xl overflow-hidden text-sm text-black bg-new-vision-yellow px-4 py-2 border border-gray-300;
  }

  .custom-btn::before {
    content: "";
    @apply absolute top-0 left-0 h-full w-0 bg-black z-0 transition-all duration-300;
  }

  .custom-btn:hover::before {
    @apply w-full;
  }

  .custom-btn:hover {
    @apply text-new-vision-yellow;
  }

  .custom-btn span {
    @apply relative z-10;
  }
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-oswald: "Oswald", sans-serif;

  --color-new-vision-yellow: #fbff18;
  --color-new-vision-green: #36f265;
  --color-new-vision-latte: #dbd9a9;
}

html {
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: var(--font-roboto);
}
